ServicioRUT/Connected Services/WS_ServicesRUTPruebas/InscripcionRUT2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_PROCOMER_InscripcionRUT.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_PROCOMER_InscripcionRUT.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ProcomerReq">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActividadEconomica" nillable="true" type="tns:ActividadEconomica" />
      <xs:element minOccurs="0" name="Apoderado" nillable="true" type="tns:Apoderado" />
      <xs:element minOccurs="0" name="Persona" nillable="true" type="tns:Persona" />
      <xs:element minOccurs="0" name="Representante" nillable="true" type="tns:Representante" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcomerReq" nillable="true" type="tns:ProcomerReq" />
  <xs:complexType name="ActividadEconomica">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoActividad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroCanton" type="xs:short" />
      <xs:element minOccurs="0" name="NroDistrito" type="xs:short" />
      <xs:element minOccurs="0" name="NroProvincia" type="xs:short" />
      <xs:element minOccurs="0" name="OtrasSenas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrCanton" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrDistrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrProvincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoFijo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ActividadEconomica" nillable="true" type="tns:ActividadEconomica" />
  <xs:complexType name="Apoderado">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodTipoClasePersona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetallePoder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreApoderado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroCanton" type="xs:short" />
      <xs:element minOccurs="0" name="NroDistrito" type="xs:short" />
      <xs:element minOccurs="0" name="NroIdentificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroProvincia" type="xs:short" />
      <xs:element minOccurs="0" name="OtrasSenas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrCanton" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrDistrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrProvincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoMovil" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Apoderado" nillable="true" type="tns:Apoderado" />
  <xs:complexType name="Persona">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodTipoClasePersona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaCierre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreContribuyente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroCanton" type="xs:short" />
      <xs:element minOccurs="0" name="NroDistrito" type="xs:short" />
      <xs:element minOccurs="0" name="NroIdentificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroProvincia" type="xs:short" />
      <xs:element minOccurs="0" name="OtrasSenas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrCanton" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrDistrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrProvincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoFijo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoMovil" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Persona" nillable="true" type="tns:Persona" />
  <xs:complexType name="Representante">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodTipoClasePersona" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Correo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DetalleRepresentacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FechaInicio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NroCanton" type="xs:short" />
      <xs:element minOccurs="0" name="NroDistrito" type="xs:short" />
      <xs:element minOccurs="0" name="NroProvincia" type="xs:short" />
      <xs:element minOccurs="0" name="NumIdentificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OtrasSenas" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrCanton" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrDistrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrNombreRepresentante" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StrProvincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TelefonoMovil" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Representante" nillable="true" type="tns:Representante" />
  <xs:complexType name="ProcomerRes">
    <xs:sequence>
      <xs:element minOccurs="0" name="Estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Mensaje" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumCodSeguridad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumDeclaracion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProcomerRes" nillable="true" type="tns:ProcomerRes" />
</xs:schema>