ServicioRUT/Connected Services/WS_ServicesRUTPruebas/InscripcionRUT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InscripcionRUT" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IInscripcionRUT_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://wsdev.procomer.go.cr:7778/PROCOMER_InscripRUTProcomer/InscripcionRUT.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://wsdev.procomer.go.cr:7778/PROCOMER_InscripRUTProcomer/InscripcionRUT.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://wsdev.procomer.go.cr:7778/PROCOMER_InscripRUTProcomer/InscripcionRUT.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCF_PROCOMER_InscripcionRUT.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInscripcionRUT_RealizaInscripcion_InputMessage">
    <wsdl:part name="parameters" element="tns:RealizaInscripcion" />
  </wsdl:message>
  <wsdl:message name="IInscripcionRUT_RealizaInscripcion_OutputMessage">
    <wsdl:part name="parameters" element="tns:RealizaInscripcionResponse" />
  </wsdl:message>
  <wsdl:message name="IInscripcionRUT_RealizaInscripcionJson_InputMessage">
    <wsdl:part name="parameters" element="tns:RealizaInscripcionJson" />
  </wsdl:message>
  <wsdl:message name="IInscripcionRUT_RealizaInscripcionJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:RealizaInscripcionJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="IInscripcionRUT">
    <wsdl:operation name="RealizaInscripcion">
      <wsdl:input wsaw:Action="http://tempuri.org/IInscripcionRUT/RealizaInscripcion" message="tns:IInscripcionRUT_RealizaInscripcion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInscripcionRUT/RealizaInscripcionResponse" message="tns:IInscripcionRUT_RealizaInscripcion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RealizaInscripcionJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IInscripcionRUT/RealizaInscripcionJson" message="tns:IInscripcionRUT_RealizaInscripcionJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInscripcionRUT/RealizaInscripcionJsonResponse" message="tns:IInscripcionRUT_RealizaInscripcionJson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IInscripcionRUT" type="tns:IInscripcionRUT">
    <wsp:PolicyReference URI="#WSHttpBinding_IInscripcionRUT_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RealizaInscripcion">
      <soap12:operation soapAction="http://tempuri.org/IInscripcionRUT/RealizaInscripcion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizaInscripcionJson">
      <soap12:operation soapAction="http://tempuri.org/IInscripcionRUT/RealizaInscripcionJson" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InscripcionRUT">
    <wsdl:port name="WSHttpBinding_IInscripcionRUT" binding="tns:WSHttpBinding_IInscripcionRUT">
      <soap12:address location="https://wsdev.procomer.go.cr:7778/PROCOMER_InscripRUTProcomer/InscripcionRUT.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>https://wsdev.procomer.go.cr:7778/PROCOMER_InscripRUTProcomer/InscripcionRUT.svc</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>